*{
    margin: 0px;
    padding: 0px;
}
video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    object-fit: cover;
    
}
.side-bar{
    position: fixed;
    margin-right: 0px;
    top: 100px;
    right: 0px;
    background-color: #FAF6F0;
    width: 150px;
    height: 300px;
    z-index: 999;
}
.side-bar #side-bar{
    padding: 0px;
    margin: 30px auto;
    list-style-type: none;
   
}
#side-bar a{
    text-decoration: none;
    
    display: block;
    height: 30px;
    width: 100%;
    text-align: center;
    line-height: 10px;
    color: black;
    font-size: medium;
    padding-top:10px;
}

#side-bar a:hover{
    background-color: black;
    color: #FED39E;
}
.social-btn-2 {
    position: absolute;
    left: -30px;
    top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 52px;
    background: #333;
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
   
}
.social-btn-2 i{
    color:#FED39E;
}
/* #side-bar span{
    font-size: 30px;
    margin-left: 20px;
    
} */
.social-btn-1 {
    position: fixed;
    left:88.2%;
    top: 110px;
    display: block;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 52px;
    background: #333;
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
    z-index: 99;
}
.social-btn-1 i{
    color:#FED39E;
}
.header{
    width: 100%;
    height: 60px;
    background-color: rgba(0, 0, 0, 0.726);
    margin-top: 0px;
    position: fixed;
    top: 0px;
    z-index: 999;
}
#header-logo img{
    display: block;
    max-width:100px;
    max-height:80px;
    width: auto;
    height: auto;
    float: left;
    margin-left: 20px;
    margin-right: 40px;
    margin-bottom: 20px;
}
#play-audio-btn{
    color: white;
    float: left;
    display: block;
    margin-left: 20px;
    margin-top: 20px;   
    width: 20px;
    height: 20px;
}
#pause-audio-btn{
    color: white;
    float: left;
    display: block;
    margin-left: 20px;
    margin-top: 20px;   
    width: 20px;
    height: 20px;
}
.menu li {
    color: #fff6f6;
    display: inline-block;
    width: 120px;
    height: 50px;
    line-height: 40px;
    list-style-type: none;
   
    
}
.menu a{
    color: rgba(255, 255, 255, 0.671);
    text-decoration: none;
    display: block;
    text-align: center;
    height: 90%;
    padding-top: 3px;
    border-top: 5px solid transparent; 
}

#login{
    float: right;
}
#log-out{
    color: rgba(255, 255, 255, 0.671);
    float: right;
    display: block;
    text-align: center;
    height: 90%;
    text-decoration: underline;
    font-size: 12px;
    border-top: none;
    padding-top:0px;
}


.menu a:hover{
    color: white;
    text-shadow:3px 3px 15px rgb(0, 110, 255);
    border-top: 5px solid rgb(115, 115, 247);  
}
#log-out:hover{
    color:white;
    text-shadow: none;
    border-top: none;
}
.main-container{
    width: 100%;
    height: 100vh;
    text-align: center;
    box-sizing: border-box;
    position: relative;
   
    
    padding-top: 400px ;
}
.main-container p{
    
    font-size: 35px;
    color: white;
    text-shadow: 2px 1px rgba(0, 0, 0, 0.637);
}

#play-btn {
    color: white;
    
    font-size: 50px;
    margin-bottom: 30px;
   
    width: 80px;
    margin-left: 45%;

    
}
#play-btn i:hover{
    text-shadow: 1px 2px 5px black;
}
#flat-form-logo{
    position: absolute;
    height: 150px;
    
    width: 55%;
    margin-left: 25%;
    padding: 30px 0px 20px 20px;
    box-sizing: border-box;
    

}
#flat-form-logo ul li {
    list-style-type: none;
    float: left;
    
}
#flat-form-logo ul li a{
    text-decoration: none;
    display: block;
    margin-right: 30px;
    font-size: 30px;
    width: 160px;
    height: auto;
    border: 1px solid white;
    padding: 10px;
    background-color: white;
    border-radius: 15px;
    box-shadow: 2px 2px 5px black;
    box-sizing: border-box;
    
}
#flat-form-logo ul li a:hover{
    background-color: rgb(236, 236, 236);
}
/* .main-container img{
    display: block;
    position: absolute;
    max-width: 1280px;
    max-height: 1200px;
    width: auto;
    height: auto;
    
} */

.footer{    
    width: 100%;
    height: 400px;
    background-color: black;

    
}
#footer-logo{
    width: 80%;
    background-color: black;
    height: 50px;
    margin-top: 0px;  
    text-align: center;
    color: white;
    border-bottom: 1px solid grey;
    margin-left: 10%;
    z-index: -999;
}
#footer-logo a{
    display: block;
    font-size: 30px;
    float: left;
    color: grey;
    margin-left: 30px;
    margin-top: 10px;
}
#footer-logo a:hover{
    color: white;

}
#game-logo{
    width: 50%;
    /* background-color: red; */
    height: 250px;
    margin-top: 10px;
    overflow: auto;
    color: white;
    margin-top: 20px;
    float: left;
    text-align: center;
    padding: 50px 0px 40px 280px;
    box-sizing: border-box;
}
#game-logo img{
    display: block;
    max-width:250px;
    max-height:150px;
    width: auto;
    height: auto;
    float: left;
    padding-left: 10px;
}
#game-logo2{
    width: 40%;
    padding-top: 30px;
    height: 300px;
    margin-top: 30px;
    color: white;
    margin-top: 20px;
    float: left;
    
}
#game-logo2 li{
    display: block;
    list-style-type: none;
    width: 100px;
    height: 20px;
    float: left;
    margin: 0px 0px 0px 20px;
    border-left: 1px solid white;
    padding: 2.5px 0px 2.5px 3px;
    box-sizing: content-box;
    text-align: center;
    
}
#game-logo2 a{
    color: grey;
    display: block;
    text-decoration: none;
}
#game-logo2 a:hover{
    color: white;
    text-decoration: underline;
}
#game-logo2 p{
    padding-top: 30px;
    padding-left: 20px; 
    margin-top: 20px; 
}
#game-logo2 img{
    display: block;
    max-width: auto;
    max-height: auto;
    width:120px;
    height:100px;
    float: left;
    margin-top: 20px;
    margin-left:20px;
}
#news-container{
    width: 100%;
    height: 1680px;
}
#main-news{
    width: 100%;
    height: 900px;
    background-image: url("https://ys.mihoyo.com/main/_nuxt/img/29770c4.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 100px 0px 100px 150px;
    box-sizing: border-box;
}
#main-news h1{
    margin-left: 530px;
    color: white;
    font-size: 50px;
    text-shadow: 1px 1px 3px black;
}
#div{
    width: 90%;  
    height: 480px;
    margin-top: 30px;
    float: left;
}
#left-div {
    width: 50%;
    height: 480px;
    float: left;
    position: relative;
    
}

.slides{
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: absolute;

}
.slide{
    position: absolute;
    top: 0px;
    left: 0px;
    opacity: 0;
    visibility: hidden;
}
.slide.active{
    opacity: 1;
    visibility: visible;
}
.slide img{
    max-width: 100%;
    height: 480px;
}
.slide-btn ul {
    position: absolute;
    z-index: 10;
    width: 100px;
    bottom: 10%;
    left: 50%;
    margin-left: -50px;
    display: flex;
    justify-content: space-between;
}
 .slide-btn ul li {
    width: 20px;
    height: 20px;
    background: white;
    opacity: 0.5;
    list-style: none;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.6s;
}

#right-div{
    width: 50%;
    height: 100%;
    background-color: rgba(38, 18, 12, 0.62);
    float: right;
    box-sizing: border-box;
    padding: 30px 30px;
}
#latest{
    display: block;
    font-size: 20px;
    font-weight: bold;
    color: #FED39E;
    padding-left: 12px;
    padding-bottom: 5px;
    width: 70px;
    border-bottom: 3px solid #FED39E;
}
#info li{
    list-style-type: none;
}
#info li a{
    display: block;
    line-height: 20px;
    width: 100%;
    height: 60px;
    text-decoration: none;
    border-top: 1px solid rgba(255, 255, 255, 0.568);
    border-bottom: 1px solid rgba(255, 255, 255, 0.568);
    font-size: 18px;
    padding-top: 10px;
    color: white;
    padding-left: 10px;
    
}
#info li a:hover{
    background-color: rgba(255, 255, 255, 0.267)
}
.date{
    margin-top: 10px;
    color: rgba(255, 255, 255, 0.363);
    font-size: 15px;

}
#more{
  display: block; 
  text-decoration: none;  
  border-top:1px solid rgba(255, 255, 255, 0.568); 
  font-size: 20px; 
  padding-top: 10px;
  padding-left: 90%;
  color: gray;
}
#more:hover{
    color:#FED39E;
}
#mods{
    width: 100%;
    height: 260px;
    background-image: url("https://uploadstatic-sea.mihoyo.com/contentweb/20200211/2020021114275255981.jpg");
    position: relative;    
}
#mods:hover{
    box-sizing: border-box;
    border: 6px white solid;
    transition:all 0.4s 0s ease-out;   
}
#mods a{
    display: inline-block;
    color: white;
    font-size: 50px;   
    position: relative;
    margin-left: 40%;
    margin-top:110px;
    text-shadow: 1px 1px black;
           
}
#mods:hover::before{
    display: block;
    content: "";
    position: absolute;
    width: 960px;
    height: 100%;
    background-image: url("https://uploadstatic-sea.mihoyo.com/contentweb/20200609/2020060917302873965.png");
    left:40%;
    transition: all 0.2s 0s ease-in;
    box-sizing: border-box;
}
#liyue{
    width: 100%;
    height: 260px;
    background-image: url("https://uploadstatic-sea.mihoyo.com/contentweb/20200526/2020052612372361982.jpg");
    position: relative;    
}
#liyue:hover{
    box-sizing: border-box;
    border: 6px white solid;
    transition:all 0.4s 0s ease-out;   
}
#liyue a{
    display: inline-block;
    color: white;
    font-size: 50px;
    margin-top:110px;
    position: relative;
    margin-left: 37.5%;
    text-shadow: 1px 1px black;
}
#liyue:hover::before{
    display: block;
    content: "";
    position: absolute;
    width: 960px;
    height: 100%;
    background-image: url("https://uploadstatic-sea.mihoyo.com/contentweb/20200221/2020022117112223204.png");
    left:40%;
    transition: all 0.2s 0s ease-in;
    box-sizing: border-box;
}
#liyue2{
    width: 100%;
    height: 260px;
    background-image: url("https://genshin.mihoyo.com/_nuxt/img/9a62be8.jpg");
    position: relative;    
}
#liyue2 a{
    display: inline-block;
    color: gray;
    font-size: 50px;
    margin-top:110px;
    position: relative;
    margin-left: 37.5%;
}


.youtube{
    position: absolute;
    width: 900px;
    height: 500px;
    background-color: red;
    top: 100px;
    left: 20%;
    display: none;
}
.youtube iframe{
    width: 100%;
    height: 100%;
}

.active-youtube-btn {
    font-size: 50px;
    top: 95px;
    left: 17%;
    margin-bottom: 30px;
    display: none;
    position: absolute;
    z-index: 100;
    
}
.active-youtuve-btn:hover{
    cursor: pointer;
}
.active-youtube{
    display:block;
}



/* login-form */
.login-form{
   position: absolute;
    width: 400px;
    height: 550px;
    background-color: #FAF6F0;
    top: 100px;
    left: 35%;
    display: none;
    padding-left:30px;
    box-shadow: 2px 2px 2px black;
    
    
}
.active-login {
    font-size: 30px;
    top: 100px;
    left: 61.6%;
    margin-bottom: 30px;
    display:none;
    position: absolute;
    z-index: 100;
    
}
.active-login:hover{
    cursor: pointer;
}

.login-form input{
    display: block;
    width: 90%;
    padding: 10px;
    box-sizing: border-box;
    margin-bottom: 20px;
    margin-top: 30px;
    
    border: 2px solid #ccc;
    
    outline: none;
    font-size: 15px;
    margin-left: 10px;
    
}
.login-form input[type="submit"]{
    color: #fff;
    background: black;
    font-size: 16px;
    transition: 0.5s;
    cursor: pointer;
}
.login-form input[type="submit"]:hover{
    background: black;
    border: 2px solid #FED39E;
    color: #FED39E;
}
.login-form #forget{
    display: block;
    margin-left: 15px;
    color: black;
}
.login-form p{
    padding-left: 40%;
    color: black;
    margin-top: 20px;
    margin-bottom: 20px;
    
}

.login-form input:hover{
    border: 2px solid #FED39E;
}
.login-form #forget:hover{
    color: #FED39E;
}
#facebook {
    padding-left: 50px;
    display: block;
    float:left;
    color:black; font-size: 50px;
    margin-right: 30px;
}
#twitter{
    display: block;
    float:left;
    color:black; font-size: 50px;
    margin-right: 30px;
}
#google{
    display: block;
    float:left;
    color:black; font-size: 50px;
    margin-right: 30px;
}
#line{
    display: block;
    float: left;
    color:black; font-size: 50px;
    margin-right: 30px;
}
#facebook :hover{
    color: rgb(0, 157, 248); 
}
#twitter :hover{
    color: rgb(2, 2, 83); 
}
#google :hover{
    color: rgb(253, 42, 42); 
}
#line :hover{
    color: rgb(2, 245, 2); 
}

.active-login-form{
    display: block;
    position: fixed;
}



.out{
    animation: out 1s forwards;
}
@-webkit-keyframes out{
    from{
        transform: translateX(0%);
    }
    to{
        transform: translateX(500%);
    }
}
.in{
    animation: in 1s forwards;
}
@-webkit-keyframes in{
    from{
        transform: translateX(500%);
    }
    to{
        transform: translateX(0%);
    }
}
.off{
    display: none;
}

/* day la xu li nut */
.bien-mat-ben-trai{
    animation: bien-mat-ben-trai 1s forwards;
 }
 @-webkit-keyframes bien-mat-ben-trai{
    from{
       transform: translateX(0%);
    }
    to{
       transform: translateX(-100%);
    }
 }
 .di-vao-ben-phai{
    animation: di-vao-ben-phai 1s forwards;
 }
 @-webkit-keyframes di-vao-ben-phai{
    from{
       transform: translateX(100%);
    }
    to{
       transform: translateX(0%);
    }
 }

 .bien-mat-ben-phai{
    animation: bien-mat-ben-phai 1s forwards;
 }
 @-webkit-keyframes bien-mat-ben-phai{
    from{
       transform: translateX(0%);
    }
    to{
       transform: translateX(100%);
    }
 }
 .di-vao-ben-trai{
    animation: di-vao-ben-trai 1s forwards;
 }
 @-webkit-keyframes di-vao-ben-trai{
    from{
       transform: translateX(-100%);
    }
    to{
       transform: translateX(0%);
    }
 }
.slide-btn ul li.active-btn{
    opacity: 0.8;
}